Temario/*
*.pyc
*.csv
Apuntes/Postgrado/*
*.nc
Codigo/Python/EjerciciosPostgrado/LyD_IA/despliegues/prueba-proyecto-scikitproject-eeb7875d8cd0.json
Codigo/Python/EjerciciosPostgrado/LyD_IA/despliegues/credentials.json
Codigo/Python/EjerciciosPostgrado/LyD_IA/Examen_LyD_IA-DiegoParederoBlanco.zip
Codigo/Python/EjerciciosPostgrado/LyD_IA/pipeline_columns.pkl
Codigo/Python/EjerciciosPostgrado/LyD_IA/pipeline.pkl
Codigo/Python/EjerciciosPostgrado/LyD_IA/despliegues/model.joblib
